.navegador{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #55b426;
}

.navegador button{
    background: none;
    border-color: white;
    border-radius: 5px;
    font-size: 20px;
    color: white;
    font-family: Verdana, Helvetica;
}

.navegador a{
    font-size: 20px;
    color: white;
    font-family: Verdana, Helvetica;
    text-decoration: none;
}

.navegador .izquierda{
    display: flex;
    align-items: center;
    margin-left: 5px;
    margin-right: 5px;
    color: #f1f1f1;
}

.todo{
    display: flex;
    font-family: Verdana, Helvetica;
    overflow: hidden;
}

.todo .izq{
    gap: 20px;
    color: black;
    background-color: #f8f8f8;
    padding-right: 20px;
    width: 15%;
    height: 100%;
    box-sizing: border-box;
}

.todo .der{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bg-verde {
    background-color: #55b426;
}

.bg-gris{
    background-color: #f1f1f1;
}

.bg-gris2{
    background-color: #f9f9f9;
}

.mapa{
    height: calc(100vh - 56px);
}