{% extends "base.html" %}
{% block content %}

<h1>Detalle del Árbol #{{ arbol.id }}</h1>

<ul>
    <li><b>Especie: </b>{{ arbol.especie.nombre_comun }}</li>
    <li><b>Barrio: </b>{{ arbol.barrio.nombre }}</li>
    <li><b>Estado: </b>{{ arbol.get_estado_display }}</li>
    <li><b>Dirección: </b>{{ arbol.direccion|default:"-" }}</li>
    <li><b>Latitud: </b>{{ arbol.latitud|default:"-" }}</li>
    <li><b>Longitud: </b>{{ arbol.longitud|default:"-" }}</li>
    <li><b>Fecha plantación: </b>{{ arbol.fecha_plant|date:"Y-m-d H:i"|default:"-" }}</li>
    <li><b>Observaciones: </b>{{ arbol.observaciones|default:"-" }}</li>
</ul>

<p><a href="{% url 'arbol_lista' %}">Volver al listado</a></p>
<p><a href="/incidencias/nueva/?arbol={{ arbol.id }}">Crear incidencia</a></p>

{% endblock %}