{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <nav class="col-12 col-md-2 p-3">
            <button class="btn btn-outline-secondary d-md-none mb-2" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarizquierda">
                ≡
            </button>
            <div class="collapse d-md-block list-group w-100" id="navbarizquierda">
                <a href="{% url 'inicio' %}" class="list-group-item list-group-item-action py-3">Inicio</a>
                {% if user.is_staff %}
                <a href="{% url 'listarIncidencias' %}"
                    class="list-group-item list-group-item-action py-3">Incidencias</a>
                {% else %}
                <a href="{% url 'listarIncidencias' %}" class="list-group-item list-group-item-action py-3">Mis
                    incidencias</a>
                {% endif %}
                <a href="{% url 'perfil' %}" class="list-group-item list-group-item-action py-3">Mi perfil</a>
                {% if user.is_staff %}
                <a href="{% url 'arboles' %}" class="list-group-item list-group-item-action py-3">Inventario</a>
                <a href="{% url 'añadirArbol' %}" class="list-group-item list-group-item-action py-3">Añadir árbol</a>
                <a href="{% url 'especies' %}" class="list-group-item list-group-item-action py-3">Lista de especies</a>
                <a href="{% url 'especieNueva' %}" class="list-group-item list-group-item-action py-3">Crear una especie</a>
                <a href="{% url 'barrios' %}" class="list-group-item list-group-item-action py-3">Lista de barrios</a>
                {% endif %}
            </div>
        </nav>

        <div class="col-md-10 p-3 bg-gris min-vh-100">

            <form action="" method="post">
                {% csrf_token %}
                <div class="card w-75 mx-auto">
                    <div class="card-header">
                        <h1 class=" text-center">Editar árbol</h1>
                    </div>
                    <div class="card-body">
                        <div class="mb-3">
                            <label for="tipo">Tipo</label>
                            <select class="form-select" name="tipo" id="tipo">
                                {% if elemento.tipo == 'arbol' %}
                                <option value="arbol" selected>Árbol</option>
                                <option value="alcorque">Alcorque</option>
                                {% elif elemento.tipo == 'alcorque' %}
                                <option value="arbol">Árbol</option>
                                <option value="alcorque" selected>Alcorque</option>
                                {% endif %}
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="barrio">Barrio</label>
                            <select class="form-select" name="barrio" id="barrio">
                                {% for barrio in barrios %}
                                {% if elemento.barrio == barrio %}
                                <option value="{{ barrio.id }}" selected>{{ barrio.nombre }}</option>
                                {% else %}
                                <option value="{{ barrio.id }}">{{ barrio.nombre }}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="especie">Especie</label>
                            <select class="form-select" name="especie" id="especie">
                                {% for especie in especies %}
                                {% if elemento.especie == especie %}
                                <option value="{{ especie.id }}" selected>{{ especie.nombre_comun }}</option>
                                {% else %}
                                <option value="{{ especie.id }}">{{ especie.nombre_comun }}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="estado">Estado</label>
                            <select class="form-select" name="estado" id="estado">
                                {% for value, label in estados %}
                                {% if elemento.estado == value %}
                                <option value="{{ value }}" selected>{{ label }}</option>
                                {% else %}
                                <option value="{{ value }}">{{ label }}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="latitud">Latitud</label>
                            <input value="{{ elemento.latitud }} " class="form-control" type="text" name="latitud"
                                id="latitud">
                        </div>
                        <div class="mb-3">
                            <label for="longitud">longitud</label>
                            <input value="{{ elemento.longitud }}" class="form-control" type="text" name="longitud"
                                id="longitud">
                        </div>
                        <div class="mb-3">
                            <label for="direccion">Dirección</label>
                            <input value="{{ elemento.direccion }}" class="form-control" type="text" name="direccion"
                                id="direccion">
                        </div>
                        <div class="mb-3">
                            <label for="fecha_plant">Fecha de plantación</label>
                            <input value="{{ elemento.fecha_plant|date:'Y-m-d' }}" class="form-control" type="date"
                                name="fecha_plant" id="fecha_plant">
                        </div>
                        <div class="mb-3">
                            <label for="potencial_plant">¿Se puede plantar?</label>
                            <select class="form-select" name="potencial_plant" id="potencial_plant">
                                {% for value, label in potencial %}
                                {% if elemento.potencial_plant == value %}
                                <option value="{{ value }}" selected>{{ label }}</option>
                                {% else %}
                                <option value="{{ value }}">{{ label }}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-success" type="submit">Guardar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}