{% extends "base.html" %}
{% block content %}

<h1>Incidencia #{{ incidencia.id }}</h1>
<p><b>Título:</b> {{ incidencia.titulo }}</p>
<p><b>Descripción: </b>{{ incidencia.descripcion }}</p>
<p><b>Grado: </b>{{ incidencia.get_grado_incidencia_display }}</p>
<p><b>Estado: </b>{{ incidencia.get_estado_display }}</p>
<p><b>Usuario: </b>{{ incidencia.usuario.correo }}</p>
<p><b>Admin responsable:</b>
    {% if incidencia.admin_resp %}
    {{ incidencia.admin_resp.correo }}
    {% else %}
    -
    {% endif %}
</p>
<p><b>Fecha reporte: </b>{{ incidencia.fecha_reporte|date:"Y-m-d H:i" }}</p>
<p><b>Fecha actualización: </b>{{ incidencia.fecha_act|date:"Y-m-d H:i" }}</p>
<p><b>Asociación: </b>
    {% if incidencia.arbol %}
    <a href="{% url 'arbol_detalle' incidencia.arbol.id %}">Árbol #{{ incidencia.arbol.id }}</a>
    {% elif incidencia.alcorque %}
    <a href="{% url 'alcorque_detalle' incidencia.alcorque.id %}">Alcorque #{{ incidencia.alcorque.id }}</a>
    {% else %}
    -
    {% endif %}
</p>

<p>
    {% if errores.general %}
    <span style="color:red;">{{ errores.general|join:", "}}</span>
    {% endif %}
</p>
<hr>

{% if es_admin %}
<h2>Gestión</h2>

<form method="post">
    {% csrf_token %}

    <p>
        <label for="{{ form.estado.id_for_label }}">Estado</label><br>
        {{ form.estado }}
        {{ form.estado.errors }}
    </p>

    <p>
        <label for="{{ form.admin_resp.id_for_label }}">Administrador</label><br>
        {{ form.admin_resp }}
        {{ form.admin_resp.errors }}
    </p>
    <button type="submit">Guardar cambios</button>
</form>
{% endif %}

<p><a href="{% url 'incidencia_lista' %}">volver a incidencias</a></p>

{% endblock %}