{% extends "base.html" %}
{% block content %}

<h1>Nueva incidencia</h1>

{% if arbol %}
<p><b>Asociada a Árbol #{{ arbol.id }}</b> ({{ arbol.especie.nombre_comun }} - {{ arbol.barrio.nombre }})</p>
{% elif alcorque %}
<p><b>Asociada a Alcorque #{{ alcorque.id }}</b>({{ alcorque.barrio.nombre }})</p>
{% else %}
<p><b>Sin asociación</b> (debes elegir árbol o alcorque)</p>
{% endif %}

<form method="post">
    {% csrf_token %}

    {{ form.non_field_errors }}

    <p>
        <label for="{{ form.titulo.id_for_label }}">Título</label><br>
        {{ form.titulo }}
        {{ form.titulo.errors }}
    </p>

    <p>
        <label for="{{ form.descripcion.id_for_label }}">Descripción</label><br>
        {{ form.descripcion }}
        {{ form.descripcion.errors }}
    </p>

    <p>
        <label for="{{ form.grado_incidencia.id_for_label }}">Grado</label><br>
        {{ form.grado_incidencia }}
        {{ form.grado_incidencia.errors }}
    </p>


    {% if arbol %}
    <input type="hidden" name="arbol" value="{{ arbol.id }}">
    {% endif %}

    {% if alcorque %}
    <input type="hidden" name="alcorque" value="{{ alcorque.id}}">
    {% endif %}


    <button type="submit">Crear incidencia</button>
    {% if arbol %}
    <a href="{% url 'arbol_lista' %}">Cancelar</a>
    {% elif alcorque %}
    <a href="{% url 'alcorque_lista' %}">Cancelar</a>
    {% else %}
    <a href="{% url 'arbol_lista' %}">Cancelar</a>
    {% endif %}
</form>

{% endblock %}